.sidebar{
  position: fixed;
  text-align: right;
  right: 100px;
  top: 100px;
  color: white;
  mix-blend-mode: difference;
}

.projectScroller{
  width: 100vw;
}

.projectContainer{
  scroll-snap-align: center;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.projectContainer canvas{
  width: 100%;
  height: 100%;
}

/* coloration */
.projectScroller > div:nth-child(even) {
  background-color: white;
}

.projectScroller > div:nth-child(odd) {
  background-color: black;
}

.description {
  width: 300px;
  text-align: left;
  overflow-wrap: break-word;
}